---
import Developing from "./Developing.astro";

const personalImageAlt = "Manuel Sandoval, desarrollador de software y entusiasta del deporte y la música"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Manuel Sandoval. Empecé en la
      programación con un grupo de amigos, cuando tenía 18 años. Actualmente estoy <strong
        >contribuyendo y liderando la actualización de procesos de gobierno</strong
      > los cuales se que son molestos y cansados para todos,por ello busco que sea rápido y accesible para todos.
    </p>

    <p>
      Algunos de mis éxitos incluyen en la contribición del <strong
      >desarrollo backend de la primera aplicación de pagos para el servicio de agua en Michoacán, generando un aumento del 10% en ingresos y más de 1k descargas en Play Store.</strong
      >
    </p>

    <p>
      Como FullStack, <strong> mi objetivo es resolver problemas, liderando y contribuyendo en ideas que logren impactar en el producto final</strong>
    </p>
  </div>
</article>


