---
const personalImageAlt = "Manuel Sandoval"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
import GitHubIcon from "@/components/icons/GitHub.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/manuel.jpg"
      alt={personalImageAlt}
    />
    <a
      href="/CV%20Manuel%20Sandoval.pdf"
      download
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Descarga mi CV</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy Manuel
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +2 años de experiencia. <strong
      >FullStack </strong
    > de Uruapan, México. Especializado en crear soluciones únicas para mejorar procesos y optimizar recursos. </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill>
      <MailIcon class="size-4" />
      manuelpvp27@gmail.com
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/manuelsandoval117">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/ManuelSG117">
      <GitHubIcon class="size-4" />
      GitHub
    </SocialPill>
  </nav>
</div>
